name: Checks
on: [push, pull_request]
jobs:
  build:
    name: Java ${{ matrix.java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17, 21, 25] # LTS and newer versions
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'gradle'
      - name: Make Gradle wrapper executable
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew check
